body{
    background-color: #808080;
}
h1{
   margin-left: 20px;
    font-size: 1.5em;
    color: white;
    
}
#k1, #k2, #k3, #k4{
    width: 100px;
    height: 100px;
    background-color: #fea500;
    position: relative; left: 20px; top: 30px;
    margin-bottom: 20px;
}
  

